body{
	background-color: MintCream;
	color: MidnightBlue;
	font-family: "Times New Roman";
	text-align: center;
}

#image{
	height: 50%;
	width: 50%;
}

h1{
	text-align: center;
	font-size: 40px;
}

p{
	font-size: 20px;
}