body{
	background-color: MintCream;
	color: MidnightBlue;
	font-family: "Times New Roman";
	margin-top: 1px;
	margin-bottom: 1px;
}

p{
	display:inline;
	font-size: 18px;
	margin-left: 50px;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 30px;
	border-bottom-color: MidnightBlue;
	border-bottom-width: 1px;
	margin-left: 25px;
}

ul{
	font-size: 16px;
	font-weight: normal;
	margin-left: 50px;
}

#name{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#email{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}

.titles{
	font-weight: bold;
	font-size: 20px;
	margin-left: 50px;
}

.details{
	font-weight: normal;
	font-size: 16px;
	margin-left: 50px;
	margin-bottom: 1px;
	margin-top: 1px;
}

.sameLineDetails{
	font-weight: normal;
	font-size: 16px;
	
}
.italicized{
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	margin-left: 50px;
}

.sameLineItalicized{
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
}

